name = "ZeroHFTrader"
uuid = "8474b145-0609-46b5-bee3-d7a6dbded082"
authors = ["aaron-wheeler"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
